.navbar,.navbar-custom,.navbar-expand-lg,.navbar-dark
{
    min-height: 20px !important;
}
.navbar-brand
{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
.navbar-custom
{
    background-color:white;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-top:15px;
    width:100%;
    height: 100%;
    margin:0px;
    /*background-color: blueviolet;*/
}
.Ext{
    width : 100%;
    height: 100%;
    padding: 0%;
    margin:0px;
    background-color:white;
    color:black;
}
.carousel .item {
    height: 50px;
  }
  
  .cen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-family: 'Permanent Marker', cursive !important;
  }
  .wrapper{
      text-align: center;
      width: 100%;
  }
  .media{
    margin-left: 400px;
  }
  .ics  {
      list-style: none;
      margin: 10px 30px;
      padding: 20px 20px;
      display: inline-block;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 50px;
      transition: .5s;
  }
  .ics:hover{
      color: blue;
      border: 1px solid blue;
      transition: .5s;
  }
  .page-footer{
      align-items: center;
      height: 8%;
      background-color: black !important;
  }
  .footer-text{
      text-align: center;
      font-weight: 200;
      font-family: 'Playfair Display', serif;
      font-size: 30px;
      padding-top: 2%;
  }
  .row{
      padding: 10px;
  }
  .container-cust{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-cust img{
      border:solid white 10px;
  }
  .map-contain h1{
    text-align: center;
  }
  .mb-5.flex-center i{
    border: 3px solid red;
    font-size: 30px;
    padding: 20px 20px;
    border-radius: 500px;
    transition: .5s;
  }
  .mb-5.flex-center i:hover{
    color: blue;
    border: 1px solid blue;
    transition: .5s;
}